form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
}

input, textarea {
  padding: 12px;
  border-radius: 6px;
  border: none;
  background: var(--bg-light);
  color: var(--text);
}

button {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: var(--primary);
  color: #0f172a;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(34, 211, 238, 0.4);
}
