.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(15, 23, 42, 0.6);
  backdrop-filter: blur(10px);
  z-index: 1000;
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

.logo {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--primary);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--primary);
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -6px;
  background: var(--primary);
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.navbar.scrolled {
  background: rgba(15, 23, 42, 0.95);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
}

.menu-icon {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;

  span {
    display: block;
    width: 25px;
    height: 2px;
    background: var(--text);
    transition: 0.3s;
    transform-origin: center;
  }

  span.open:nth-child(1) { transform: translateY(7px) rotate(45deg); }
  span.open:nth-child(2) { opacity: 0; }
  span.open:nth-child(3) { transform: translateY(-7px) rotate(-45deg); }
}

@media (max-width: 768px) {

  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: #0f0f0f;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

}
